<style type="text/css">
body { font-family: Avenir, sans-serif; }
ol#scrolling-list { 
  font-size: 0;
  background: #f5f5f5;
  list-style-type: none;
  padding-left: 0;
  height: 450px;
  overflow-y: scroll;
  font-weight: 100;
  color: #999;
  margin-left: 0; 

}
ol#scrolling-list li { 
  border-bottom: 1px dashed;
  margin-left: 0; 
}
ol#scrolling-list li a { 
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 2;
  color: currentcolor;
  display: block;
  transition: .4s background; }
ol#scrolling-list li a img { 
  width: 200px;
  
  vertical-align: top;
  margin-right: .5rem;  
}
ol#scrolling-list li a:hover, ol#scrolling-list li a:focus { background: black; }
ol#scrolling-list::-webkit-scrollbar { background: black; }
ol#scrolling-list::-webkit-scrollbar-thumb { background-color:#f33f3f ; }
a  {
	color:black;
	text-decoration:none;
	}
		
	header
	{
	background:  #f5f5f5;
	height: 65px;
	font-size:22px;
	color:black;
	}
	#left-nav{
	 width:160px;
    height:40px;
 background-color:rgba(0,0,0,0.4);
 font-size:20px;
 color:#fff;
 text-shadow:2px 2px 2px bule;

	float:left;
	}
	ul li{
	list-style-type:none;
	}

	#right-nav{
	float:right;
	}
	#right-nav li{
	display:inline-block;
	margin: 10px;
	}
  
footer
	{
	clear:bpth;
	background:#f5f5f5;
	margin-top:25px;
	text-align:center;
	padding:0;
	color:#fff;}
		 
div.transbox {  
  width: 100px; 
    height: 70px; 
	margin:0px;
	padding:0px;
  background-color: #ffffff; 
 
  float:right: }
    #subn{
 width:170px;
 height:40px;
 background-color:skyblue;
font-size:30px;
color :white;

 }
 

 /*GROW*/
 .pic {
  border: 10px solid #fff;
  float: right;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px #111;
  box-shadow: 5px 5px 5px #111;  
}
.grow img {
  height: 300px;
  width: 300px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  width: 400px;
  height: 400px;
}
 
</style>